REDASH_REDIS_URL=redis://localhost:6379/0	#URL Redash services will use to read and write to redis
REDASH_DISABLE_PUBLIC_URLS=false	#Whether to disable access to public URLs.
REDASH_BLOCKED_DOMAINS=qq.com	#Comma separated of email domains that cannot create user accounts	
REDASH_PROXIES_COUNT=1	#Passed to Werkzeug’s ProxyFix to make sure we get the right referral address even behind proxies like nginx.
REDASH_STATSD_HOST=127.0.0.1	#Host for STATSD daemon	
REDASH_STATSD_PORT=8125	#Port for STATSD daemon	
REDASH_STATSD_PREFIX=redash	#Prefix for metrics sent to STATSD daemon	
REDASH_STATSD_USE_TAGS=false	#Whether to use tags in StatsD metrics (InfluxDB’s format)	
REDASH_DATABASE_URL=postgresql://postgres	#URL the Redash server and worker services will use to access the metadata database	
REDASH_QUERY_RESULTS_CLEANUP_ENABLED=true	#Whether the job to cleanup unused query results should run automatically	
REDASH_QUERY_RESULTS_CLEANUP_COUNT=100	#The number of results to cleanup during each call to cleanup_query_results	
REDASH_QUERY_RESULTS_CLEANUP_MAX_AGE=7	#Integer number of days, past which a query result may be cleaned up if it is not referenced by another query.	
REDASH_SCHEMAS_REFRESH_SCHEDULE=30	#How often to refresh the data source schemas (in minutes)	
REDASH_AUTH_TYPE=api_key	#May be either api_key or hmac. Implemented here	
REDASH_ENFORCE_HTTPS=false	#This is passed to Flask-Talisman	
REDASH_INVITATION_TOKEN_MAX_AGE=60 _ 60 _ 24 * 7	#An integer number of seconds after which an invitation link will expire	
REDASH_MULTI_ORG=false	#Whether to enable multi-org mode. Note: Multi-org mode is not documented or supported at this time	
REDASH_GOOGLE_CLIENT_ID=	#The client ID to use for Google Login, be sure to set a client secret as well	
REDASH_GOOGLE_CLIENT_SECRET=	#The client secret to use for Google Login, be sure to set a client id as well	
REDASH_REMOTE_USER_LOGIN_ENABLED=false	#Enables the use of an externally-provided and trusted remote user via an HTTP header. The “user” must be an email address. More details	
REDASH_REMOTE_USER_HEADER=X-Forwarded-Remote-User	#Name of header to use if REDASH_REMOTE_USER_LOGIN_ENABLED is true	
REDASH_LDAP_LOGIN_ENABLED=false
REDASH_LDAP_URL=None
REDASH_LDAP_BIND_DN=None
REDASH_LDAP_BIND_DN_PASSWORD=		
REDASH_LDAP_DISPLAY_NAME_KEY=displayName
REDASH_LDAP_EMAIL_KEY=mail
REDASH_LDAP_CUSTOM_USERNAME_PROMPT=username	 	#LDAP/AD/SSO:
REDASH_LDAP_SEARCH_TEMPLATE=#(cn=%(username)s)
REDASH_LDAP_SEARCH_DN=		#REDASHSEARCHDN
REDASH_STATIC_ASSETS_PATH=../client/dist/	#Directory that contains all front-end assets. Relative to the ./redash directory	
REDASH_JOB_EXPIRY_TIME=3600 * 12	#TTL in seconds for jobs placed in queue. If a job is not picked up by a worker within this TTL it will expire.
REDASH_COOKIE_SECRET=	#Required. Used for various cryptographic features of the web server. Read more about how Redash uses secret keys here	
REDASH_LOG_LEVEL=INFO	#Logging messages which are less severe than level will be ignored. Read more about Python logging here	
REDASH_MAIL_SERVER=localhost
REDASH_MAIL_PORT=25
REDASH_MAIL_USE_TLS=false
REDASH_MAIL_USE_SSL=false
REDASH_MAIL_USERNAME=None
REDASH_MAIL_PASSWORD=None
REDASH_MAIL_DEFAULT_SENDER=None
REDASH_MAIL_MAX_EMAILS=None
REDASH_MAIL_ASCII_ATTACHMENTS=false
REDASH_HOST=	#The URL host used in emails sent to users (invites, alerts, notifications) etc.	
REDASH_ALERTS_DEFAULT_MAIL_SUBJECT_TEMPLATE=({state}) {alert_name}	#Subject used for email alert notifications. {state} and {alert_name} are the only available variables.	
REDASH_ALERTS_DEFAULT_MAIL_BODY_TEMPLATE_FILE=templates/emails/alert.html	#HTML template used to format email alerts. Custom alert variables are supported. By convention, CSS is permitted within the <head> section.	
REDASH_THROTTLE_LOGIN_PATTERN=50/hour	#The Flask-Limiter string pattern used to rate limit requests to the /login route.	
REDASH_LIMITER_STORAGE=REDIS_URL	#Mapped directly to Flask-Limiter’s storage_uri.	
REDASH_CORS_ACCESS_CONTROL_ALLOW_ORIGIN=
REDASH_CORS_ACCESS_CONTROL_ALLOW_CREDENTIALS=false
REDASH_CORS_ACCESS_CONTROL_REQUEST_METHOD=GET,POST,PUT
REDASH_CORS_ACCESS_CONTROL_ALLOW_HEADERS=Content-Type
REDASH_ENABLED_QUERY_RUNNERS=”,”.join(defaultqueryrunners)	#Comma-separated list of query runners to be enabled (e.g. redash.query_runner.pg,redash.query_runner.mysql)	
REDASH_ADDITIONAL_QUERY_RUNNERS=	#Comma-separated list of non-default query runners to be enabled	
REDASH_DISABLED_QUERY_RUNNERS=	#Comma-separated list of query runners that will not appear in Redash	
REDASH_SCHEDULED_QUERY_TIME_LIMIT=None	#Time limit for scheduled queries (in seconds)	
REDASH_ADHOC_QUERY_TIME_LIMIT=None	#Time limit for adhoc queries (in seconds)	
REDASH_ENABLED_DESTINATIONS=”,”.join(default_destinations)	#Comma-separated list of alert destinations to be enabled (e.g. redash.destinations.email,redash.destinations.slack )	
REDASH_ADDITIONAL_DESTINATIONS=	#Comma-separated list of non-default alert destinations to be enabled	
REDASH_EVENT_REPORTING_WEBHOOKS=	#Comma-separated list of webhook URLs that to which events will be forwarded	
REDASH_SENTRY_DSN=
REDASH_ALLOW_SCRIPTS_IN_USER_INPUT=false #Disable sanitization of text input, allowing full HTML	
REDASH_DASHBOARD_REFRESH_INTERVALS=60,300,600,1800,3600,43200,86400	#Comma-separated list of integer seconds that will be allowed for dashboard refresh	
REDASH_QUERY_REFRESH_INTERVALS=60, 300, 600, 900, 1800, 3600, 7200, 10800, 14400, 18000, 21600, 25200, 28800, 32400, 36000, 39600, 43200, 86400, 604800, 1209600, 2592000	#Comma-separated list of integer seconds that will be allowed for scheduled query refresh	
REDASH_PASSWORD_LOGIN_ENABLED=true	#Toggle to allow password login. Often disabled if Google Login, SAML, LDAP, or REMOTEUSERLOGIN are enabled.	
REDASH_SAML_METADATA_URL=
REDASH_SAML_ENTITY_ID=
REDASH_SAML_NAMEID_FORMAT=
REDASH_DATE_FORMAT=DD/MM/YY	#Moment.js format to be used throughout the web application	
REDASH_JWT_LOGIN_ENABLED=false
REDASH_JWT_AUTH_ISSUER=
REDASH_JWT_AUTH_PUBLIC_CERTS_URL=	#RSA public key in JSON Web Key (JWK) format for HTTP, or PEM for a FILE location	
REDASH_JWT_AUTH_AUDIENCE=
REDASH_JWT_AUTH_ALGORITHMS=HS256,RS256,ES256
REDASH_JWT_AUTH_COOKIE_NAME=
REDASH_JWT_AUTH_HEADER_NAME=
REDASH_FEATURE_SHOW_QUERY_RESULTS_COUNT=true	#Disable/enable showing count of query results in status	
REDASH_VERSION_CHECK=false	#Toggle whether to periodically check if a newer version of Redash is available.	
REDASH_FEATURE_DISABLE_REFRESH_QUERIES=false	#Disable scheduled query execution	
REDASH_FEATURE_SHOW_PERMISSIONS_CONTROL=false	#Enable experimental multiple owners support	
REDASH_FEATURE_ALLOW_CUSTOM_JS_VISUALIZATIONS=true	#Enable the custom visualization option. This appears as a sub-type of “Chart” visualizations in the UI.	
REDASH_FEATURE_AUTO_PUBLISH_NAMED_QUERIES=true	#Automatically publish a new query after its name is changed from “New Query”	
REDASH_BIGQUERY_HTTP_TIMEOUT=600	#HTTP timeout for the BigQuery query runner	
REDASH_SCHEMA_RUN_TABLE_SIZE_CALCULATIONS=false	#Enable showing the size of each table in the schema browser.	
REDASH_WEB_WORKERS=4	#How many processes will gunicorn spawn to handle web requests	
REDASH_QUERY_RESULTS_EXPIRED_TTL_ENABLED=false	#Enable the query result set default expired ttl.	
REDASH_QUERY_RESULTS_EXPIRED_TTL=86400	#Default set query results expired ttl 86400 seconds.	