### required settings

SENTRY_URL_PREFIX=
SENTRY_SECRET_KEY==CHANGEME
SENTRY_POSTGRES_HOST=
SENTRY_POSTGRES_PORT=5432
SENTRY_DB_NAME=sentry
SENTRY_DB_USER=postgres
SENTRY_DB_PASSWORD=p0stgr3s
SENTRY_REDIS_HOST=
SENTRY_REDIS_PORT=6379
SENTRY_USE_SSL=False

### other settings
### (https://docs.djangoproject.com/en/1.5/ref/settings/)
### (http://sentry.readthedocs.org/en/latest/config/index.html)

## celery
#CELERY_ALWAYS_EAGER=False
#SENTRY_BROKER_URL=redis://sentry-redis:6379/1
#CELERY_RESULT_SERIALIZER=json
#CELERY_TASK_SERIALIZER=json
#CELERY_ACCEPT_CONTENT=json

# if you're accepting pickled tasks (the default) you should enable this
C_FORCE_ROOT=1

## make everything "public" (readable by all logged in users)
#SENTRY_PUBLIC=True




## LDAP (https://pythonhosted.org/django-auth-ldap/reference.html)
#SENTRY_USE_LDAP=True
#LDAP_SERVER=ldap://localhost
#LDAP_BIND_DN=cn=admin,dc=example,dc=com
#LDAP_BIND_PASSWORD=ldapadminpassword
#LDAP_USER_DN=REQUIRED! e.g. ou=users,dc=example,dc=com
#LDAP_USER_FILTER=(&(objectClass=inetOrgPerson)(cn=%(user)s))
#LDAP_GROUP_DN=ou=django,ou=groups,dc=example,dc=com
#LDAP_GROUP_FILTER=(objectClass=groupOfUniqueNames)
#LDAP_REQUIRE_GROUP=cn=enabled,ou=django,ou=groups,dc=example,dc=com
#LDAP_DENY_GROUP=cn=disabled,ou=django,ou=groups,dc=example,dc=com
#LDAP_GROUP_TYPE='groupOfUniqueNames'
#LDAP_MAP_FIRST_NAME=givenName
#LDAP_MAP_LAST_NAME=sn
#LDAP_MAP_MAIL=mail
#LDAP_GROUP_ACTIVE=cn=active,ou=django,ou=groups,dc=example,dc=com
#LDAP_GROUP_STAFF=cn=staff,ou=django,ou=groups,dc=example,dc=com
#LDAP_GROUP_SUPERUSER=cn=superuser,ou=django,ou=groups,dc=example,dc=com
#LDAP_FIND_GROUP_PERMS=False
#LDAP_CACHE_GROUPS=True
#LDAP_GROUP_CACHE_TIMEOUT=3600


## REMOTE_USER (https://docs.djangoproject.com/en/stable/howto/auth-remote-user/)
#SENTRY_USE_REMOTE_USER=True
#AUTH_REMOTE_USER_HEADER=HTTP_X_SSO_USERNAME

## control python warnings. See https://docs.python.org/2/library/warnings.html for available values
#PYTHONWARNINGS=ignore