<link rel="stylesheet" href="{{ "css/bootstrap.css" | relURL }}">
<link rel="stylesheet" href="{{ "css/bootstrap-responsive.css" | relURL }}">
<link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
{{ range .Site.Params.customCSS -}}
<link rel="stylesheet" href="{{ . | relURL }}">
{{- end }}
<script src="{{ "js/jquery.js" | relURL }}"></script>
<script src="{{ "js/bootstrap-386.js" | relURL }}"></script>
<script src="{{ "js/bootstrap-transition.js" | relURL }}"></script>
<script src="{{ "js/bootstrap-alert.js" | relURL }}"></script>
<script src="{{ "js/bootstrap-modal.js" | relURL }}"></script>
<script src="{{ "js/bootstrap-dropdown.js" | relURL }}"></script>
<script src="{{ "js/bootstrap-scrollspy.js" | relURL }}"></script>
<script src="{{ "js/bootstrap-tab.js" | relURL }}"></script>
<script src="{{ "js/bootstrap-tooltip.js" | relURL }}"></script>
<script src="{{ "js/bootstrap-popover.js" | relURL }}"></script>
<script src="{{ "js/bootstrap-button.js" | relURL }}"></script>
<script src="{{ "js/bootstrap-collapse.js" | relURL }}"></script>
<script src="{{ "js/bootstrap-carousel.js" | relURL }}"></script>
<script src="{{ "js/bootstrap-typeahead.js" | relURL }}"></script>
<script src="{{ "js/bootstrap-affix.js" | relURL }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.2.0/fuse.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.min.js"></script>
<script src="{{ "js/search.js" | absURL }}"></script>
<script>
    _386 = { 
        fastLoad:{{ .Site.Params.loadfastload }},
        onePass:{{ .Site.Params.loadonepass }}, 
        speedFactor:{{ .Site.Params.loadspeedfactor }}
    };

    // Free updated script to get the actual year !! no more document.write or stuff!!
    function ThisYear() {
        document.getElementById('thisyear').innerHTML = new Date().getFullYear();
    };
</script>
<!--
<script src="https://giscus.app/client.js"
        data-repo="rtx3/nodevops"
        data-repo-id="R_kgDOKe2wpg"
        data-category="Show and tell"
        data-category-id="DIC_kwDOKe2wps4CaLJM"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="https://giscus.app/themes/custom_example.css"
        data-lang="zh-CN"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
-->

{{- range .Site.Params.customJS }}
<script src="{{ . | relURL }}"></script>
{{- end }}
